services:
  fastapi:
    build:
      context: .
      args:
        INSTALL_DEV: "false"
    container_name: api_service
    command:
      - sh
      - -c
      - |
        alembic upgrade head && \
        gunicorn main:app --workers 3 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --access-logfile -
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - service_network

  db:
    image: postgres:16
    container_name: qna_db
    env_file:
      - ./app/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "6270:5432"
    networks:
      - service_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  service_network:
    driver: bridge
